* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-size: 1.5rem;
}
h1, h2, .step-subtitle {
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 2rem;
    margin: 1.5rem 0;
    border-bottom: 4px solid #008FD8;
    display: inline-block;
}
h2 {
    font-size: 1.8rem;
}
.step-subtitle {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
select {
    font-size: 1.5rem;
}
form {
    padding: 2rem 1rem;
}
.border {
    margin: 3rem 0;
}
.form-submit {
    display: flex;
    justify-content: center;
}
input[type="submit"] {
    background: #008FD8;
    color: #fff;
    font-size: 1.5rem;
    border: solid 2px #fff;
    border-radius: 5px;
    padding: 5px 20px;
}