* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-size: 1.5rem;
    line-height: 1.7;
}
h1, h2, .step-subtitle {
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 2rem;
    margin: 1.5rem 0;
    /* border-bottom: 4px solid #008FD8; */
    border-bottom: 4px solid #980d12;
    display: inline-block;
}
h2 {
    font-size: 1.8rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
/* .q0-label {

} */
/* .q0-input-wrap:nth-child(0) {
    margin-bottom: 2rem;
} */
.company-name {
    width: 100%;
}
.step-subtitle {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
select {
    font-size: 1.5rem;
}
.manual-input {
    margin: 1rem 0;
}
.manual-input-text {
    font-size: 1rem;
}
.note-wrap > textarea {
    width: 100%;
    font-size: 1.5rem;
    padding: 5px 7px;
}
input {
    font-size: 1.5rem;
}
form {
    padding: 2rem 1rem;
}
.border {
    margin: 3rem 0;
}
.dotted {
    width: 100%;
    height: 1px;
    border-bottom: 2px dotted gray;
    margin: 0.7rem 0;
}
.form-submit {
    display: flex;
    justify-content: center;
}
input[type="submit"] {
    /* background: #008FD8; */
    background: #980d12;
    color: #fff;
    font-size: 1.5rem;
    border: solid 2px #fff;
    border-radius: 5px;
    padding: 5px 20px;
}